*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#heading{
    display: flex;
    height: 500px;
    background-color: #000000;
    color: white;
    flex-direction: column;
}

#message_dock{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    /*background-color: red;*/
}

#welcome_dock{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

#welcome, #welcome_ {
    display: flex;
    width: fit-content;
}

#welcome_{
    font-style: italic;
    font-weight: lighter;
}

#mess_container{
    display: flex;
    height: fit-content;
    width: 45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    /*background-color: red;*/
}

#sandwich_top{
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin-top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}