#schedule div{
    position: relative;
}

#week{
    color: rgb(0, 0, 0);        
    font-size: 50px;
    text-align: left;
    font-weight: bolder;
}

#schedule div  img{
    position: absolute;
    
    background-color: rgb(0, 255, 13);
    /*padding: -5px;*/
    width: 100px;
    height: 100px;
    border-radius: 10px;
    /*margin-left: -1%;*/
    right: 5%;
    padding: 5px;
    /*top: 0;*/
    float: right;
}

#schedule div ul{
    background-color: rgb(0, 13, 88);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border-radius: 30px;
    font-size: 35px;
    font-weight: bolder;
    text-align: left;
}

/*Teacher*/
#schedule div ul p{
    text-align: left;
    color: rgb(28, 0, 105);
    font-weight: bolder;
    font-size: 24px;
    margin-top: -5px;
}

/*Room*/
#schedule div ul div{
    display: flex;
    flex-direction: row; 
    font-size: 16px;  
    background-color: red;   
    width: fit-content;  
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#schedule div ul section{
    margin-top: -25px;
    display: flex;
    flex-direction: row;    
}
#schedule div ul section div{
    background-color: white;
}

#schedule div ul div div{
    background-color: black;
    width: fit-content;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    margin-top: -5px;

}

@media(max-width:879px){
    #schedule div  img{
        display: none;
        height: 50px;
        width: 50px;
    }
}

@media(max-width:530px){
    #schedule div ul{
        font-size: 30px;
    }
}

@media(max-width:460px){
    #schedule div ul section{
        display: block;
    }
}
