*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#google_login{
    background-color: red;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}