*{
    margin: 0;
    padding: 0;
}

#header{
    background-color: black;
    color: white;
    padding: 10px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#layerA000{
    display: flex;
    flex-direction: row;
    justify-content: center;

    
}

#layerA000 h4{
    margin-top: auto;
    margin-bottom: auto;    
    font-size: 60px;
    padding: 50px;
}

#touchSunday, #touchMonday, #touchTuesday, #touchWednesday, #touchThursday,#touchFriday, #touchSaturday{
    display: none;
}

#layerA001{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
}



.container {
    display: none;
    /*display: inline-block;*/
    cursor: pointer;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}



#titlex{
    background-color: transparent;
    display: block;
}

#toggler{
    background-color: black;
    color: black;
    width: 100%;
    /*position: sticky;
    bottom: 0;*/
}

/*
#tilex, #toggler{
    position: sticky;
    top: 0px;
}
*/
#sub_box{
    background-color: black;
    margin: 10px;
    border-radius: 7px;
    padding: 10px;
    width: 50%;/*800px;*/
    margin-left: auto;
    margin-right: auto;
}

#layerA{
    display: flex;
    flex-direction: row;
}
#subjects{
    background-color: white;
    margin: 3px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

#imgx{    
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin: 3px;
}

#teacher{
    background-color: white;
    margin: 3px;
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
}

#layerB{
    display: flex;
    flex-direction: row;    
}
#room{
    background-color: yellow;    
    padding: 5px;
    width: fit-content;
    border-radius: 5px;
    margin: 5px;
}
#time{
    width: fit-content;
    /*background-color: red;*/
    display: flex;
    flex-direction: row;       
}
#time_start, #time_end{
    background-color: white;
    border-radius: 10px;
    width: fit-content;
    padding: 5px;
    margin: 5px;
}



#down_deck{
    background-color: transparent;
    border: solid white 3px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
}
#down_deck ol{
    background-color: transparent;
    border: solid white 3px;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
}


#linggo{
    background-color: transparent;
    width:max-content;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.araw{
    background-color: transparent;
    border: 3px solid white;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    list-style: none;
    cursor: pointer;
    font-size: 17px;

}
.today, .araw:hover{
    background-color: white;
    color: black;
}

#img2{
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#floatx{
    display: none;
}



@media(max-width:1550px){
    #sub_box{
        width: 60%;/*800px;*/

    }
}

@media(max-width:1335px){
    #sub_box{
        width: 70%;/*800px;*/

    }
}

@media(max-width:1000px){
    #sub_box{
        width: 80%;/*800px;*/

    }
}

@media(max-width:670px){
    #header{
        position: sticky;
        top: 0px;
    }
    #touchSunday, #touchMonday, #touchTuesday, #touchWednesday, #touchThursday,#touchFriday, #touchSaturday{
        display: block;    
        margin-top: auto;    
        margin-bottom: auto;
    }
    #layerA000 h4{
        font-size: 30px;
        padding: 3px;
    }
    #layerA000{
        justify-content: space-between;
    }


    #Sundaylinggo,#Mondaylinggo, #Tuesdaylinggo, #Wednesdaylinggo, #Thursdaylinggo, #Fridaylinggo,#Saturdaylinggo{
        position: fixed;
        flex-direction: column;
        margin-top: 10px;
        right: -1000px;
        background-color: rgb(32, 32, 32);
        width: 300px;
        height: 300rem;
        transition: 0.3s ease;
        text-align: center;        
        display: flex;        
    }
    .container {
        display: inline-block;
    }
    #linggo.active{
        display: flex;
        transition: 0.3s ease;
    }
    #titlex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    #touch{
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media(max-width:750px){
    #sub_box{
        width: 90%;/*800px;*/

    }
}

@media(max-width:590px){
    #sub_box{
        width: 95%;/*800px;*/

    }
}

@media(max-width:465px){
    #img2{
        width: 350px;
    }
}
@media(max-width:410px){
    #img2{
        width: 300px;
    }
}